.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  width: 100%;
  z-index: 3;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 17px;
  left: 17px;
  right: 17px;
  z-index: 10;
  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.points {
  display: flex;
  align-items: center;
  gap: 3px;
  box-shadow: 0px 8px 32px 0px #00000033;
  background: #FFFFFF1F;
  border-radius: 100px;
  padding: 6px 12px;
}

.content {
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 17px;
}

.plusOne {
  font-size: 76px;
  font-weight: 700;
  color: #7A55FF;
  line-height: 1;
}

.correctText {
  font-size: 21px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 1.2;
  padding: 20px;
  white-space: pre-line;
}

.nextQuestionText {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 160px;
}
