.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  margin-top: 180px;
  width: 212px;
  height: 50px;
}

.title {
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 23px;
  text-align: center;
  color: white;
}
