.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
  padding-left: 100rem;
  padding-top: 50rem;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.content {
  display: flex;
  gap: 60rem;
  flex: 1;
  align-items: flex-start;
}

.leftSection {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.laurelIcon {
  font-size: 120rem;
  margin-bottom: 20rem;
  // Плейсхолдер для иконки лаврового венка
}

.title {
  font-size: 66rem;
  font-weight: 500;
  line-height: 1.1;
  color: white;
  text-shadow: 0 0 20rem rgba(122, 85, 255, 0.5);
  margin: 0;
}

.rightSection {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.leaderboardItem {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 16rem;
  border-radius: 32rem;
  background: white;
  width: 700rem;
  height: 90rem;
}

.medalIcon {
  width: 50rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.positionNumber {
  font-size: 32rem;
  font-weight: 500;
  color: black;
  min-width: 50rem;
  text-align: center;
}

.leaderboardItem_name {
  font-size: 32rem;
  font-weight: 400;
  color: black;
  flex: 1;
}

.leaderboardItem_score {
  font-size: 32rem;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  gap: 10rem;

  img {
    width: 32rem;
    height: 32rem;
  }
}

