.timer {
  position: relative;
  width: 77px;
  height: 30px;
  border-radius: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timer_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #FF5555;
  z-index: 1;
  will-change: width;
}

.timer_text_container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer_text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: black;
}

.timer_desktop {
  width: 300px;
  height: 114px;

  .timer_text {
    font-size: 53px;
    line-height: 69px;
    font-weight: 500;
  }
}
