 

.root {
  width: 100%;
  display: flex;
  z-index: 2;
  padding: 18rem 14rem;
  min-height: 100vh;
  padding-bottom: 100rem;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
}

.header {

  width: 100%;
  font-size: 21rem;
  font-weight: 500;
  line-height: 21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.points {
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: 0px 8px 32px 0px #00000033;
background: #FFFFFF1F;
  border-radius: 100rem;
  padding: 6rem 12rem;
}

.logo {
  margin-top: 180rem;
  width: 212rem;
  height: 50rem;
}

.title {
  font-size: 21rem;
  font-weight: 500;
  line-height: 28rem;
  margin-top: 23rem;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10rem;
  border-radius: 12rem;
  font-size: 17rem;
  line-height: 28rem;
  padding: 16rem;
  background: white;
  height: 183rem;
  resize: none;
  margin-top: 26rem;
  color: black;

  &::placeholder {
   color: #020212;
   opacity: 0.5;
  }
}


.button {
  position: fixed;
  left: 14rem;
  right: 14rem;
  z-index: 10;
  width: calc(100% - 28rem);
  height: 64rem;
  color: white;
  background: #7A55FF;
  opacity: 0.5;
  border-radius: 100rem;
  bottom: 23rem;
}

.active {
  opacity: 1;
}

.content {
  margin-top: 26rem;
  width: 100%;

  img {
    width: 100%;
    border-radius: 24rem;
  }
}