.root {
  width: 100%;
  display: flex;
  z-index: 2;
  padding: 18rem 14rem;
  min-height: 100vh;
  padding-bottom: 100rem;
  position: relative;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
}

.logo {
  width: 212rem;
  height: 50rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59rem;
}

.thankYou {
  text-align: center;
  color: white;
  margin-bottom: 16rem;
}

.thankYou_line1 {
  font-size: 21rem;
  font-weight: 500;
  line-height: 28rem;
}

.thankYou_line2 {
  font-size: 21rem;
  font-weight: 500;
  line-height: 28rem;
}

.resultsText {
  text-align: center;
  color: white;
  margin-bottom: 40rem;
  font-size: 21rem;
  font-weight: 400;
  line-height: 1.1;
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.leaderboardItem {
  position: relative;
  background: white;
  border-radius: 16rem;
  padding: 8rem 10rem 10rem 14rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  min-height: 45rem;

  &_current {
    background: #7A55FF;
    
    .leaderboardItem_name,
    .leaderboardItem_score {
      color: white;
    }
  }
}

.medalIcon {
  width: 27rem;
  height: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.leaderboardItem_content {
  display: flex;
  align-items: center;
  gap: 12rem;
  flex: 1;
  width: 100%;
}

.leaderboardItem_position {
  font-size: 17rem;
  font-weight: 500;
  color: black;
  min-width: 23rem;
  height: 23rem;
  background: #DCDCDC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.leaderboardItem_name {
  font-size: 16rem;
  font-weight: 500;
  color: black;
  flex: 1;
}

.leaderboardItem_score {
  font-size: 17rem;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  gap: 5rem;

  img {
    width: 16rem;
    height: 16rem;
  }
}

