 
.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.wrapper {
  display: flex;
  width: 100%;
  z-index: 3;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 17rem;
  left: 17rem;
  right: 17rem;
  z-index: 10;
  font-size: 21rem;
  font-weight: 500;
  line-height: 21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 6rem;
  color: white;
}

.points {
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: 0px 8px 32px 0px #00000033;
  background: #FFFFFF1F;
  border-radius: 100rem;
  padding: 6rem 12rem;
}

.content {
  margin-top: 152rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  width: 100%;
  padding: 0 17rem;
}

.plusOne {
  font-size: 76rem;
  font-weight: 700;
  color: #7A55FF;
  line-height: 1;
}

.correctText {
  font-size: 36rem;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 1.1;
}

.nextQuestionText {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 21rem;
  line-height: 28rem;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  bottom: 160rem;
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  margin-top: 180rem;
  width: 212rem;
  height: 50rem;
}

.title {
  font-size: 21rem;
  font-weight: 500;
  line-height: 28rem;
  margin-top: 23rem;
  text-align: center;
}

.input {
  width: 308rem;
  height: 64rem;
  padding: 17rem;
  background: white;
  border-radius: 12rem;
  border: none;

  outline: none;
  color: #3E2989;
  font-size: 17rem;
  margin-top: 26rem;

  &::placeholder {
    color: #3E2989;
    opacity: 0.5;
  }

  &_error {
    color: #FF5555;
    border: 2rem solid #FF5555;
  }
}

.button {
  width: 308rem;
  height: 64rem;
  color: white;
  background: #7A55FF;
  opacity: 0.5;
  margin-top: 13rem;
  border-radius: 100rem;
}

.active {
  opacity: 1;
}

.warning {
  position: absolute;
  bottom: 151rem;
  text-align: center;
  font-size: 17rem;
  line-height: 20rem;
  font-weight: 500;
  width: 308rem;
  height: 80rem;
  background: #FFE4E4;
  color: black;
  border-radius: 12rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &_visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.warning_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    font-size: 17rem;
    line-height: 20rem;
    font-weight: 500;
  }
}

.warning_close {
  position: absolute;
  top: 8rem;
  right: 8rem;
  cursor: pointer;
}