 

.root {
  width: 100%;
  display: flex;
  z-index: 2;
  padding: 18rem 14rem;
  min-height: 100vh;
  padding-bottom: 100rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.overlay_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100% - 66rem);
  background: #DDD4FF;
  border-radius: 12rem;
  padding: 16rem;
  font-size: 17rem;
  font-weight: 400;
  line-height: 20rem;
  color: black;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
  padding-top: 20rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.header {
  position: fixed;
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  width: calc(100% - 34rem);
  font-size: 21rem;
  font-weight: 500;
  line-height: 21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.points {
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: 0px 8px 32px 0px #00000033;
background: #FFFFFF1F;
  border-radius: 100rem;
  padding: 6rem 12rem;
}

.logo {
  margin-top: 180rem;
  width: 212rem;
  height: 50rem;
}

.title {
  font-size: 21rem;
  font-weight: 500;
  line-height: 28rem;
  margin-top: 23rem;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10rem;
  border-radius: 12rem;
  font-size: 17rem;
  line-height: 28rem;
  padding: 16rem;
  background: white;
  height: 347rem;
  resize: none;
  margin-top: 26rem;
  color: black;

  &::placeholder {
   color: #020212;
   opacity: 0.5;
  }
}


.button {
  position: fixed;
  left: 14rem;
  right: 14rem;
  z-index: 10;
  width: calc(100% - 28rem);
  height: 64rem;
  color: white;
  background: #7A55FF;
  opacity: 0.5;
  border-radius: 100rem;
  bottom: 23rem;
  font-weight: 500;
}

.active {
  opacity: 1;
}

.content {
  margin-top: 26rem;
  width: 100%;

  img {
    width: 100%;
    border-radius: 24rem;
  }
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12rem;
  margin-top: 26rem;
  width: 100%;
}

.answerCard {
  position: relative;
  background: white;
  border: none;
  border-radius: 12rem;
  padding: 16rem;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-height: 100rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  &:hover {
    opacity: 0.9;
  }

  &_selected {
    background: #DDD4FF;
  }

  &_correct {
    background: #D4FFD4;
  }

  &:disabled {
    cursor: default;
  }
}

.answerLetter {
  font-size: 17rem;
  font-weight: 400;
  color: black;
}

.answerText {
  font-size: 17rem;
  font-weight: 400;
  color: black;
  line-height: 24rem;
}