.timer {
  position: relative;
  width: 77rem;
  height: 30rem;
  border-radius: 100rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timer_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #FF5555;
  z-index: 1;
  transition: width 0.1s linear;
  will-change: width;
}

.timer_text_container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer_text {
  font-size: 14rem;
  font-weight: 500;
  white-space: nowrap;
  color: black;
}

.timer_desktop {
  width: 300rem;
  height: 114rem;

  .timer_text {
    font-size: 53rem;
    line-height: 69rem;
    font-weight: 500;
  }
}

