.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  width: 100%;
}

.leftSection {
  height: 100%;
  width: 57%;
  display: flex;
  position: relative;
  background: white;
  box-sizing: border-box;
}

.leftSection_noMedia {
  padding-top: 140px; /* опускаем блок под таймер только для текстовых */
}

.timerWrapper {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 4;
}

.questionNumber {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 4;
  height: 74px;
  display: flex;
  align-items: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 69px;
  color: black;
  white-space: nowrap;
}

.questionTextBox {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
}

.questionTextContent {
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 1);
  border-radius: 48px 48px 0 0;
  padding: 32px;
  color: black;
  font-size: 44px;
  line-height: 1.2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  white-space: pre-line;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSection {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 43%;
  padding: 40px;
  z-index: 2;
}

.title {
  font-size: 44px;
  font-weight: 500;
  line-height: 38px;
  color: white;
  margin-bottom: 53px;
  z-index: 2;
}

.answerBox {
  width: 100%;
  min-height: 320px;
  background: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 40px;
  z-index: 2;
}

.answerText {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  white-space: pre-line;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answerBox_blurred {
  filter: blur(6px);
}

.answerText_blurred {
  filter: blur(6px);
}

.qrSection {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.qrBox {
  position: absolute;
  right: 24px;
  bottom: 40px;
  background: white;
  border-radius: 12px;
  padding: 32px 42px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.qrText {
  font-size: 32px;
  font-weight: 400;
  color: #7A55FF;
  line-height: 1.1;
}

.qrCode {
  height: 98px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
