.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 318px;
}

.qrWrapper {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: white;
  width: fit-content;
  height: fit-content;
  border-radius: 100px;
  height: 347px;
  width: 347px;
}

.title {
  font-size: 65px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 29px;
  text-align: center;
  color: white;
}
