 

.root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 318rem;
}

.qrWrapper {
  margin-top: 56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50rem;
  background: white;
  width: fit-content;
  height: fit-content;
  border-radius: 100rem;
  height: 347rem;
  width: 347rem;
}


.title {
  font-size: 65rem;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 29rem;
  text-align: center;
}

.input {
  width: 308rem;
  height: 64rem;
  padding: 17rem;
  background: white;
  border-radius: 12rem;
  border: none;

  outline: none;
  color: #3E2989;
  font-size: 17rem;
  margin-top: 26rem;

  &::placeholder {
    color: #3E2989;
    opacity: 0.5;
  }

  &_error {
    color: #FF5555;
    border: 2rem solid #FF5555;
  }
}

.button {
  width: 308rem;
  height: 64rem;
  color: white;
  background: #7A55FF;
  opacity: 0.5;
  margin-top: 13rem;
  border-radius: 100rem;
}

.active {
  opacity: 1;
}

.warning {
  position: absolute;
  bottom: 151rem;
  text-align: center;
  font-size: 17rem;
  line-height: 20rem;
  font-weight: 500;
  width: 308rem;
  height: 80rem;
  background: #FFE4E4;
  color: black;
  border-radius: 12rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &_visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.warning_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    font-size: 17rem;
    line-height: 20rem;
    font-weight: 500;
  }
}

.warning_close {
  position: absolute;
  top: 8rem;
  right: 8rem;
  cursor: pointer;
}